.square-border-pane {
    -fx-shape: "M0,0h100a10,10 0 0 1 10,10v100a10,10 0 0 1 -10,10h-100a10,10 0 0 1 -10,-10v-100a10,10 0 0 1 10,-10z";
    -fx-background-color:  #D4F2FF;
}
.square-border-pane-none {
    -fx-shape: "M0,0h100a10,10 0 0 1 10,10v100a10,10 0 0 1 -10,10h-100a10,10 0 0 1 -10,-10v-100a10,10 0 0 1 10,-10z";
    -fx-background-color:  #FFFFFF;
}

.button {
        -fx-background-radius: 10px;

    -fx-background-color:  #2264D1;
}
.rounded-anchor-pane {
    -fx-background-radius: 12px;
    -fx-background-color:  #FFFFFF;
}
.rounded-anchor-pane2 {
    -fx-background-radius: 10px;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-color:  #E1F8F6;
}
.chooser {
    -fx-background-radius: 10px;
    -fx-border-color: #2264d1;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;

}
.text-field:focused {
    -fx-prompt-text-fill: black;
}

.mainBackground {
    -fx-background-color: #D4F2FF;
    -fx-background-radius: 20;
}
.header {
    -fx-text-fill: #2264D1;
    -fx-font-family: "Times New Roman";
}
.fontStd {
    -fx-font-size: 17;
    -fx-font-family: "Times New Roman";
}
.font15 {
    -fx-font-size: 15;
    -fx-font-family: "Times New Roman";
}
.TextBorder {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #000000;
    -fx-border-radius: 5;
}
.buttonPlus {
    -fx-background-color: #2264D1;
    -fx-border-color: #000000;
    -fx-border-radius: 5;
}


/*Custom lai mau cho paginated table view*/
.mfx-pagination .mfx-page:selected {
    -fx-background-color: #2264D1;
    -fx-text-fill: white;
}

/*Custom lai font cho paginated table view*/
.mfx-pagination-table-view {
    -fx-font-family: "Times New Roman";
}

/*Doi mau vien cho mfx textfield khi duoc focus (cái nó báo lỗi là bị lỏ á, đừng fix j hết nha :Đ)*/
.mfx-text-field:focus-within {
    -fx-border-color: #2264D1;
}


.mfx-filter-pane .header #filterIcon:hover {
    -fx-background-color: derive(#D4F2FF, 150%);
}

.mfx-filter-pane .header #filterIcon:hover .mfx-font-icon {
    -mfx-color: #D4F2FF;
}

.mfx-filter-pane .mfx-combo-box {
    -fx-background-color: #D4F2FF;
    -fx-border-color: #ebebeb;
    -fx-font-family: "Times New Roman";
    -fx-text-fill: -mfx-gray;
}

.mfx-combo-box .caret .mfx-ripple-generator {
    -mfx-ripple-color: #D4F2FF;
}

.mfx-combo-box:focus-within .caret .mfx-font-icon {
    -mfx-color: #2264D1;

}



